#navbar1{
    background-color: transparent;
    position: absolute;
    right: 200px;
    top: 95px;
    display: inline;
    z-index: 1;
}
.login_button {
    position: absolute;
    right: 200px;
    top: 95px;
    display: inline;
    z-index: 1;
}
#sign_in{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}


#sign_in:hover{
    color: lightgoldenrodyellow;
    font-size: 22px;
    font-weight: 400;
}




@media screen and (max-width: 870px) {
       #navbar1 {
        right: 200px;
        top: 41px;
        display: inline;
        z-index: 1;
        
    }
}
@media screen and (max-width: 600px) {
    #navbar1 {
        right: 250px;
        top: 45px;
        display: inline;
        z-index: 1;
    }
}
@media screen and (max-width: 500px) {
    #navbar1 {
        left: 250px;
        top: 45px;
        display: inline;
        z-index: 1;
    }
}


.login_div {
display: flex;
justify-self: center;
align-items: center;
display: block;
    
}