.modal-dialog{
    background-color: transparent;
}
.modal-content{
    background-color: transparent;
  border: none;
}
.modal-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and (max-width: 600px) {
    .modal-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: transparent;
    }
    #cardCard1 {
    width: 300px;
    padding: 10px;
    margin: 10px; 
    border-radius: 10px;
    border: 1px solid rgb(68, 208, 233);
    box-shadow: 3px 3px 3px 3px rgb(67, 189, 219);
    }
    #cardCard2 {
    width: 300px;
    padding: 10px;
    margin: 10px; 
    border-radius: 10px;
    border: 1px solid rgb(68, 208, 233);
    box-shadow: 3px 3px 3px 3px rgb(67, 189, 219);
    }

}
    

#cardCard1 {
    width: 500px;
    padding: 10px;
    margin: 10px; 
    border-radius: 10px;
    border: 1px solid rgb(68, 208, 233);
    box-shadow: 3px 3px 3px 3px rgb(67, 189, 219);
}
#cardCard1:hover {
    width: 500px;
    padding: 10px;
    margin: 10px; 
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(71, 163, 199);
}
#cardCard2 {
    width: 500px;
    padding: 10px;
    margin: 10px; 
    border-radius: 10px;
    border: 1px solid rgb(25, 145, 41);
    box-shadow: 3px 3px 3px 3px #7df38c;
}
#cardCard2:hover {
    width: 500px;
    padding: 10px;
    margin: 10px; 
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(139, 219, 132);

}

.modal_button{
    padding: 10px;
    background-color: rgb(69, 188, 209);
    box-shadow: 3px 3px 3px 3px rgb(168, 172, 173);
   
    border-radius: 10px;
}
.modal_button2{
    padding: 10px;
    background-color: rgb(69, 209, 88);
    box-shadow: 3px 3px 3px 3px rgb(168, 172, 173);
   
    border-radius: 10px;
}